pre.float2 { float: left; width: 45%; margin: 5px; }
table.float2 { float: left; width: 45%; margin: 5px; }
ul.float2 { float: left; width: 45%; margin: 5px; }
p.float2 { float: left; width: 45%; margin: 5px; }
div.float2 { float: left; width: 45%; margin: 5px; }
pre.floatr2 { float: right; width: 45%; margin: 5px; }
table.floatr2 { float: right; width: 45%; margin: 5px; }
ul.floatr2 { float: right; width: 45%; margin: 5px; }
p.floatr2 { float: right; width: 45%; margin: 5px; }
div.floatr2 { float: right; width: 45%; margin: 5px; }
pre.float4 { float: left; width: 25%; margin: 5px; }
pre.float3 { float: left; width: 32%; margin: 5px; }

.half { margin-top: -10px; display: inline-block; width: 49%; }
.label {
  color:#ff8855;
  background-color: #770000;
  font-size: 20px !important;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
}

p.title {
  text-align: left; background-color: #ffccc0; color: black;
  margin-bottom: -20px;
  margin-left: 21px;
  margin-right: 21px;
  padding-left: 10px;
}

/* Paragraphs aligned on the left */
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}

/* Adjust font sizes */
.reveal {
    font-size: 36px !important;
}

/* Special highlighting class */
.strong {
    color:#ff6600;
    font-weight: bold;
}
